window {
  font-size: 20px;
  font-family: "JetbrainsMono Nerd Font";
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#outer-box {
  border: solid 2px #cba6f7;
}

#input {
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: none;
  border-bottom: solid 2px #cba6f7;
  border-radius: 0;
}

#entry:selected {
  color: #cba6f7;
  background-color: #1e1e2e;
  border: none;
}
