window {
  font-size: 20px;
  font-family: "Hack Nerd Font Mono";
  background: #1e1e2e;
  color: #cdd6f4;
}

#outer-box {
  border: solid 2px #cba6f7;
}

#input {
  background: #1e1e2e;
  color: #cdd6f4;
  border: none;
  border-bottom: solid 2px #cba6f7;
  border-radius: 0;
}

#entry {
  background: none;
  border: none;
  outline: none;
}

#text:selected {
  color: #cba6f7;
}
